@page "/"

<div>

    <h1>Welcome !</h1>
    <div class="row">
        <p>Welcome to Unitas; A membership directory for Members of the Knights of Columbus!</p>
        <p>Currently, only the membership account management is set up. feel free to register by clicking 'register' in the upper right corner of the site. and set up an account. </p>
        <p>Once logged in, consider editing your information by clicking on "Hello,[username] in the upper right corner."</p>

    </div>
    <div class="row">
        <a target="_blank" class="font-weight-bold" href="https://www.kofc.org/en//index.html">Learn more about the order</a>
    </div>

</div>


