@page "/"

<h1>Welcome!</h1>
<div>
    Welcome to Unitas! A membership directory for Memberes of the Knights of Columbus!
</div>
<div>
    <a target="_blank" class="font-weight-bold" href="https://www.kofc.org/en//index.html">Learn</a> more about the order
</div>


